{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
       
        <h1 class="govuk-heading-l">About BTECs</h1>

<p class="govuk-body">
  BTECs are vocational qualifications that focus on practical, hands-on learning. They can prepare you for work, an apprenticeship or further study, including university.
</p>

<h2 class="govuk-heading-m">Types of BTECs</h2>

<p class="govuk-body">
  BTECs are available at different levels. The most common are:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>BTEC Level 1 and 2 – equivalent to GCSEs</li>
  <li>BTEC Level 3 – equivalent to A levels</li>
</ul>

<p class="govuk-body">
  Some BTECs combine classroom learning with work experience. You’ll complete assignments, projects and practical tasks instead of taking exams.
</p>

<h2 class="govuk-heading-m">Subjects you can study</h2>

<p class="govuk-body">
  BTECs are offered in a wide range of subjects, including:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>health and social care</li>
  <li>business</li>
  <li>engineering</li>
  <li>IT and digital technology</li>
  <li>sport and fitness</li>
  <li>performing arts</li>
  <li>construction and building services</li>
</ul>

<h2 class="govuk-heading-m">Entry requirements</h2>

<p class="govuk-body">
  Entry requirements depend on the level of BTEC you want to take. For example:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Level 1 – may not require any formal qualifications</li>
  <li>Level 2 – usually requires some GCSEs at grade 3 or above</li>
  <li>Level 3 – often requires 4 or more GCSEs at grade 4 or above</li>
</ul>

<p class="govuk-body">
  You should check the specific course requirements on the college or provider’s website.
</p>

<h2 class="govuk-heading-m">What you'll get</h2>

<p class="govuk-body">
  You’ll get a recognised qualification at the end of your BTEC. The level depends on the course you take.
  <a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" rel="noopener noreferrer">
    Find out what qualification levels mean
  </a>.
</p>

<p class="govuk-body">
  BTEC Level 3 qualifications can also give you UCAS points for university.
</p>

<h2 class="govuk-heading-m">Where it can lead</h2>

<p class="govuk-body">
  A BTEC can lead to:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>an apprenticeship</li>
  <li>a job in a related industry</li>
  <li>another course at a higher level</li>
  <li>university, if you complete a Level 3 BTEC</li>
</ul>

<h2 class="govuk-heading-m">Costs and financial support</h2>

<p class="govuk-body">
  BTECs are usually free for 16 to 19 year olds in England. If you’re aged 19 or over, you may need to pay a fee depending on your circumstances.
</p>

<p class="govuk-body">
  You may be able to get financial support, such as a bursary or Advanced Learner Loan, to help with the cost of your course.
</p>


      </div>

      
    </div>
  </div>



{% endblock %}
