{% extends "./layouts/_RESULTS.html" %}

<!--Find the person in the data-->

{% set withoutDescription = "true" %}
{% set pageHeading = "Search results" %}
{% set pageDescription = "Use the filters to explore these nearby courses." %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <form method="get" action="/load-courses">

      <!-- Qualification type checkboxes -->
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">Qualification type</legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          {% for qual in ["A Level", "Apprenticeship", "BTEC", "Diploma", "Degree", "T Level"] %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="filter-{{ qual | replace(" ", "-") }}" name="filter" type="checkbox" value="{{ qual }}" {% if qual in selectedQualifications %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="filter-{{ qual | replace(" ", "-") }}">{{ qual }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>

      <!-- Location filter -->
      <div class="govuk-form-group">
        <label class="govuk-label" for="option-select-filter-location">
          Enter a postcode, town or city
        </label>
        <input name="option-select-filter-location" id="option-select-filter-location" class="govuk-input" type="text" value="{{ selectedLocation }}">
      </div>

      <!-- Subject or career keywords -->
      <div class="govuk-form-group">
        <label class="govuk-label" for="subject-filter">
          Subject or career keywords
        </label>
        <input class="govuk-input" id="subject-filter" name="subject-filter" type="text" value="{{ selectedSubject }}">
      </div>

      <button class="govuk-button" type="submit">Apply filters</button>

    </form>
</div>

  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Available Courses</h1>

<p>{{ totalResults }} courses found.</p>

{% for course in courses %}
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      {{ course.name }}
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">View this course<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.provider }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.location }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.type }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Requirements
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.requirements }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Overview
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.overview }}
        </dd>
      </div>
    </dl>
  </div>
</div>
{% endfor %}

<nav class="govuk-pagination" aria-label="Pagination">

  {% if currentPage > 1 %}
    <div class="govuk-pagination__prev">
      <a class="govuk-link govuk-pagination__link" href="?page={{ currentPage - 1 }}" rel="prev">
        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="govuk-pagination__link-title">
          Previous<span class="govuk-visually-hidden"> page</span>
        </span>
      </a>
    </div>
  {% endif %}

  <ul class="govuk-pagination__list">
    {% set startPage = currentPage - 1 %}
    {% set endPage = currentPage + 1 %}

    {% if startPage < 1 %}
      {% set startPage = 1 %}
      {% set endPage = 3 %}
    {% endif %}

    {% if endPage > totalPages %}
      {% set endPage = totalPages %}
    {% endif %}

    {% if totalPages <= 3 %}
      {% set startPage = 1 %}
      {% set endPage = totalPages %}
    {% elif endPage - startPage < 2 %}
      {% set startPage = endPage - 2 %}
      {% if startPage < 1 %}
        {% set startPage = 1 %}
      {% endif %}
    {% endif %}

    {% for pageNumber in range(startPage, endPage + 1) %}
      <li class="govuk-pagination__item {% if pageNumber == currentPage %}govuk-pagination__item--current{% endif %}">
        <a class="govuk-link govuk-pagination__link" href="?page={{ pageNumber }}" aria-label="Page {{ pageNumber }}"{% if pageNumber == currentPage %} aria-current="page"{% endif %}>
          {{ pageNumber }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {% if currentPage < totalPages %}
    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="?page={{ currentPage + 1 }}" rel="next">
        <span class="govuk-pagination__link-title">
          Next<span class="govuk-visually-hidden"> page</span>
        </span>
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
      </a>
    </div>
  {% endif %}

</nav>




{% endblock %}