{% extends "./layouts/_RESULTS.html" %}

<!--Find the person in the data-->

{% set withoutDescription = "true" %}
{% set pageHeading = "Search results" %}
{% set pageDescription = "Use the filters to explore these nearby courses." %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <form method="get" action="load-courses">

      <div class="filter-container">

        <div class="filter-search-terms">
  
        <div class="filter-heading">

        <h2 class="govuk-heading-m">Filter</h2>

        </div>

        </div>

        <div class="filter-list">

      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Qualification type</legend>
    
        <div class="govuk-checkboxes govuk-checkboxes--small">
          {% for qual in ["A Level", "Apprenticeship", "BTEC", "Diploma", "Degree", "T Level"] %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input"
                     id="filter-{{ qual | replace(' ', '-') }}"
                     name="filter"
                     type="checkbox"
                     value="{{ qual }}"
                     {% if qual in selectedQualifications %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="filter-{{ qual | replace(' ', '-') }}">{{ qual }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-form-group">
        <label class="govuk-label" for="option-select-filter-location">
          Enter a postcode, town or city
        </label>
        <input class="govuk-input"
               type="text"
               id="option-select-filter-location"
               name="option-select-filter-location">
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-form-group">
        <label class="govuk-label" for="subject-filter">
          Subject or career keywords
        </label>
        <input class="govuk-input"
               type="text"
               id="subject-filter"
               name="subject-filter">
      </div>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Qualification level</legend>
      
        <div class="govuk-checkboxes govuk-checkboxes--small">
          {% for level in ["level-1-2", "level-3", "level-4-7"] %}
            {% set label = {
              "level-1-2": "Level 1 or 2",
              "level-3": "Level 3",
              "level-4-7": "Level 4 to 7"
            }[level] %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input"
                     id="qualification-level-{{ level }}"
                     name="qualification-level"
                     type="checkbox"
                     value="{{ level }}"
                     {% if level in selectedLevels %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="qualification-level-{{ level }}">
                {{ label }}
              </label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
      
    <br>
      <button class="govuk-button" type="submit">Apply filters</button>

      <p class="govuk-body">
        <a href="/06/load-courses" class="govuk-link" id="clear-all-link">Clear all filters</a>
      </p>
      
    </form>
    
  </div>
</div>
</div>


  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Available Courses</h1>

<p><a href="clear-session-and-go">Search again</a> </p>

{# Set a flag to detect if any visible filters are present #}
{% set hasVisibleFilters = false %}

{# Check if at least one real qualification is selected #}
{% for qual in selectedQualifications %}
  {% if qual and qual != "_unchecked" %}
    {% set hasVisibleFilters = true %}
  {% endif %}
{% endfor %}

{# Check if location or subject has a value #}
{% if selectedLocation or selectedSubject %}
  {% set hasVisibleFilters = true %}
{% endif %}

{% set levelLabels = {
  "level-1-2": "Level 1 or 2",
  "level-3": "Level 3",
  "level-4-7": "Level 4 to 7"
} %}



{% if hasVisibleFilters %}
  <div id="active-filters" class="govuk-!-margin-top-6">
    <h2 id="active-filters-heading" class="govuk-heading-m">You've searched for:</h2>

    <div id="selected-filters" class="remove-filters">
      {# Qualification tags #}
      {% for qual in selectedQualifications %}
  {% if qual != "_unchecked" %}
    {# Rebuild query string excluding the current qualification #}
    {% set queryString = "" %}
    {% for q in selectedQualifications %}
      {% if q != qual and q != "_unchecked" %}
        {% set queryString = queryString + "&filter=" + q %}
      {% endif %}
    {% endfor %}
    {% set queryString = queryString + "&option-select-filter-location=" + selectedLocation + "&subject-filter=" + selectedSubject %}

    <a href="?page=1{{ queryString | safe }}"
       class="govuk-tag govuk-tag--blue govuk-!-margin-right-1 govuk-!-margin-bottom-1"
       aria-label="Remove filter {{ qual }}">
      {{ qual }}
    </a>
  {% endif %}
{% endfor %}

      {# Location tag #}
      {% if selectedLocation %}
  {% set queryString = "" %}
  {# Keep all qualification filters #}
  {% for q in selectedQualifications %}
    {% if q != "_unchecked" %}
      {% set queryString = queryString + "&filter=" + q %}
    {% endif %}
  {% endfor %}

  {# Keep all qualification levels #}
  {% for level in selectedLevels %}
    {% if level %}
      {% set queryString = queryString + "&qualification-level=" + level %}
    {% endif %}
  {% endfor %}

  {# Keep subject, but exclude location #}
  {% if selectedSubject %}
    {% set queryString = queryString + "&subject-filter=" + selectedSubject %}
  {% endif %}

  <a href="?page=1{{ queryString | safe }}"
     class="govuk-tag govuk-tag--green govuk-!-margin-right-1 govuk-!-margin-bottom-1"
     aria-label="Remove location filter: {{ selectedLocation }}">
    {{ selectedLocation }}
  </a>
{% endif %}

    

      {# Subject tag #}
      {% if selectedSubject %}
      {% set queryString = "" %}
      {# Keep all qualification filters #}
      {% for q in selectedQualifications %}
        {% if q != "_unchecked" %}
          {% set queryString = queryString + "&filter=" + q %}
        {% endif %}
      {% endfor %}
    
      {# Keep all qualification levels #}
      {% for level in selectedLevels %}
        {% if level %}
          {% set queryString = queryString + "&qualification-level=" + level %}
        {% endif %}
      {% endfor %}
    
      {# Keep location, but exclude subject #}
      {% if selectedLocation %}
        {% set queryString = queryString + "&option-select-filter-location=" + selectedLocation %}
      {% endif %}
    
      <a href="?page=1{{ queryString | safe }}"
         class="govuk-tag govuk-tag--purple govuk-!-margin-right-1 govuk-!-margin-bottom-1"
         aria-label="Remove keyword filter: {{ selectedSubject }}">
        {{ selectedSubject }}
      </a>
    {% endif %}
    


      {# Qualification level tags #}
      {% for level in selectedLevels %}
  {% if level %}
    {# Rebuild query string without this level #}
    {% set remainingLevels = [] %}
    {% for l in selectedLevels %}
      {% if l != level and l != "_unchecked" %}
        {% set remainingLevels = remainingLevels.append(l) %}
      {% endif %}
    {% endfor %}

    {# Map remaining levels back to qualification types #}
    {% set mappedQuals = [] %}
    {% for rl in remainingLevels %}
      {% if rl == "level-1-2" %}
        {% set mappedQuals = mappedQuals.append("btec") %}
        {% set mappedQuals = mappedQuals.append("apprenticeship") %}
      {% elseif rl == "level-3" %}
        {% set mappedQuals = mappedQuals.append("a level") %}
        {% set mappedQuals = mappedQuals.append("t level") %}
        {% set mappedQuals = mappedQuals.append("apprenticeship") %}
      {% elseif rl == "level-4-7" %}
        {% set mappedQuals = mappedQuals.append("degree") %}
        {% set mappedQuals = mappedQuals.append("apprenticeship") %}
      {% endif %}
    {% endfor %}

    {# Add query string with new levels and mapped quals #}
    {% set query = "" %}
    {% for q in mappedQuals %}
      {% set query = query + "&filter=" + q %}
    {% endfor %}
    {% for rl in remainingLevels %}
      {% set query = query + "&qualification-level=" + rl %}
    {% endfor %}
    {% set query = query + "&option-select-filter-location=" + selectedLocation + "&subject-filter=" + selectedSubject %}

    <a href="?page=1{{ query | safe }}"
       class="govuk-tag govuk-tag--yellow govuk-!-margin-right-1 govuk-!-margin-bottom-1"
       aria-label="Remove level filter: {{ level }}">
      {% if level == "level-1-2" %}Level 1 or 2{% endif %}
      {% if level == "level-3" %}Level 3{% endif %}
      {% if level == "level-4-7" %}Level 4 to 7{% endif %}
    </a>
  {% endif %}
{% endfor %}

    

    </div>

  
  </div>
{% endif %}



<p>{{ totalResults }} courses found.</p>

{% for course in courses %}
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      {{ course.name }}
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/06/course/{{ course.slug }}">
          View more details<span class="govuk-visually-hidden"> about {{ course.name }}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.provider }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.location }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.type }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Requirements
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.requirements }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Overview
        </dt>
        <dd class="govuk-summary-list__value">
          {{ course.overview }}
        </dd>
      </div>
    </dl>
  </div>
</div>
{% endfor %}

{# Build query string to preserve selected filters #}
{% set filterQuery = "" %}
{% for qual in selectedQualifications %}
  {% if qual != "_unchecked" %}
    {% set filterQuery = filterQuery + "&filter=" + qual %}
  {% endif %}
{% endfor %}
{% set filterQuery = filterQuery + "&option-select-filter-location=" + selectedLocation + "&subject-filter=" + selectedSubject %}

<nav class="govuk-pagination" aria-label="Pagination">

  {% if currentPage > 1 %}
    <div class="govuk-pagination__prev">
      <a class="govuk-link govuk-pagination__link" href="?page={{ currentPage - 1 }}{{ filterQuery }}" rel="prev">
        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="govuk-pagination__link-title">
          Previous<span class="govuk-visually-hidden"> page</span>
        </span>
      </a>
    </div>
  {% endif %}

  <ul class="govuk-pagination__list">
    {# Calculate page range for 3 numbers max #}
    {% set startPage = currentPage - 1 %}
    {% set endPage = currentPage + 1 %}

    {% for qual in selectedQualifications %}
  {% if qual != "_unchecked" and qual != "" %}
    {% set filterQuery = filterQuery + "&filter=" + qual %}
  {% endif %}
{% endfor %}

    {% if startPage < 1 %}
      {% set startPage = 1 %}
      {% set endPage = 3 %}
    {% endif %}

    {% if endPage > totalPages %}
      {% set endPage = totalPages %}
    {% endif %}

    {% if totalPages <= 3 %}
      {% set startPage = 1 %}
      {% set endPage = totalPages %}
    {% elif endPage - startPage < 2 %}
      {% set startPage = endPage - 2 %}
      {% if startPage < 1 %}
        {% set startPage = 1 %}
      {% endif %}
    {% endif %}

    {# Render page number links #}
    {% for pageNumber in range(startPage, endPage + 1) %}
      <li class="govuk-pagination__item {% if pageNumber == currentPage %}govuk-pagination__item--current{% endif %}">
        <a class="govuk-link govuk-pagination__link"
           href="?page={{ pageNumber }}{{ filterQuery }}"
           aria-label="Page {{ pageNumber }}"
           {% if pageNumber == currentPage %} aria-current="page"{% endif %}>
          {{ pageNumber }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {% if currentPage < totalPages %}
    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="?page={{ currentPage + 1 }}{{ filterQuery }}" rel="next">
        <span class="govuk-pagination__link-title">
          Next<span class="govuk-visually-hidden"> page</span>
        </span>
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
      </a>
    </div>
  {% endif %}

</nav>



{% endblock %}

{% block footer %}

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Website information",
      width: "two-thirds",
      columns: 2,
      items: [
        {
          href: "#",
          text: "About us"
        },
        {
          href: "#",
          text: "Help"
        },
        {
          href: "#",
          text: "Privacy and cookies"
        },
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Terms and conditions"
        }
      ]
    },
    {
      title: "Sites for other UK countries",
      width: "one-third",
      items: [
        {
          href: "#",
          text: "Scotland"
        },
        {
          href: "#",
          text: "Wales"
        },
        {
          href: "#",
          text: "Northern Ireland"
        }
      ]
    },
    {
      width: "one-third",
      items: [
        {
          href: "search-results-no-results",
          text: "No results"
        }
      ]
    }
  ]
}) }}

{% endblock %}

