{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="check-answers" method="post" novalidate>

  <h1 class="govuk-heading-l">
    Where do you want to study?
  </h1>

  {{ govukInput({
    label: {
      text: "Enter a town, city or postcode (optional)",
      classes: "govuk-label--m"
    },
  hint: {
    text: "If you want to find everywhere offering a particular subject, you can leave this empty (you must have entered a subject or career)"
  },
    classes: "govuk-input--width-20",
    id: "location",
    name: "location"
  }) }}

  <div class="govuk-button-group">

    {{ govukButton({
      text: "Continue"
    }) }}

    </div>


    </div>
  </form>

  </div>
</div>

{% endblock %}
