//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-summary-list__row--full-width .govuk-summary-list__value {
  grid-column: 1 / -1;
  width: 100%;
}

.dfe-page-hero {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #003a69;
    width: 100%;
}

.month-wrapper {
    margin-bottom: 15px;
}

@import 'node_modules/dfe-frontend/packages/dfefrontend';

// Patterns not in Frontend

@import "components/hero";
@import "components/masthead";
@import "components/page-header";
@import "components/dfe-header";
@import "components/filters";
@import "components/filters-2";


/* Hide toggle button on desktop */
@media (min-width: 641px) {
    #toggle-filters {
      display: none !important;
    }
  
    #filter-panel {
      display: block !important; /* Always show filters on desktop */
    }
  }
  
  /* Hide filters by default on mobile */
  @media (max-width: 640px) {
    #filter-panel {
      display: none;
    }
  
    #filter-panel.active {
      display: block;
    }
  }
  

.govuk-width-container { @include govuk-width-container; }

.govuk-header__link .govuk-header__logotype{
    height: 30px;
  }
  
  .govuk-header__link:focus .govuk-header__logotype{
    content: url(/public/images/department-for-education_black.png);
    height: 30px;
  }

  .remove-filters {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
}

.remove-filters a {
    color: govuk-colour('black');
    display: inline-block;
    padding: 8px 16px;
    font-size: 19px;
    background-color: govuk-colour('light-grey');
    text-decoration: none;
    border: 1px solid #b1b4b6
}

.remove-filters a:hover {
    outline: 1px #0b0c0c solid;
    outline-offset: 0;
    border-color: #0b0c0c;
}

.remove-filters a:focus {
    background-color: #fd0;
}

.remove-filters a:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-image: url(/public/images/cross.svg);
    vertical-align: -3px;
}