body {
  font-family: "Inter", Arial, sans-serif !important;
}

*,
.govuk-body,
.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.govuk-button,
.govuk-label,
.govuk-input {
  font-family: "Inter", Arial, sans-serif !important;
}