
.filter-search-terms {
  background-color: #f3f2f1;
  padding-bottom: 1px;
  padding-left: 20px;
}

.filter-list {
  padding: 20px;
}

.filter-heading {
  background-color: #f3f2f1;
  padding-top: 20px;
}

.filter-buttons {
  background-color: 	#f3f2f1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}