.filter-container {
  border: 1px solid #b1b4b6;
}

.filter-search-terms {
  background-color: #b1b4b6;
  padding-bottom: 1px;
  padding-left: 10px;
}

.filter-list {
  padding: 10px;
}

.filter-heading {
  background-color: #b1b4b6;;
  padding-top: 20px;
}

.filter-buttons {
  background-color: 	#f3f2f1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}