{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">About diplomas</h1>

<p class="govuk-body">
  Diplomas are work-related qualifications that help you gain knowledge and skills for a specific job, industry or subject. You can take a diploma at different levels, depending on your experience and career goals.
</p>

<h2 class="govuk-heading-m">Types of diplomas</h2>

<p class="govuk-body">
  Diplomas are available at various qualification levels. The most common are:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Level 1 and 2 diplomas – equivalent to GCSEs</li>
  <li>Level 3 diplomas – equivalent to A levels</li>
  <li>Level 4 and 5 diplomas – equivalent to the first 1 to 2 years of a university degree</li>
</ul>

<p class="govuk-body">
  Some diplomas are designed to help you enter a specific job or career. Others prepare you to move on to further study or training.
</p>

<h2 class="govuk-heading-m">Subjects you can study</h2>

<p class="govuk-body">
  Diplomas are available in a wide range of subjects, including:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>childcare and early years</li>
  <li>health and social care</li>
  <li>engineering</li>
  <li>business and administration</li>
  <li>creative arts and design</li>
  <li>hair and beauty</li>
  <li>construction and trades</li>
</ul>

<h2 class="govuk-heading-m">Entry requirements</h2>

<p class="govuk-body">
  Entry requirements vary depending on the level and subject of the diploma. You may need:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>no formal qualifications for an entry-level course</li>
  <li>GCSEs for a Level 2 or 3 diploma</li>
  <li>previous qualifications or work experience for a higher level diploma</li>
</ul>

<p class="govuk-body">
  You should check with the course provider for exact entry requirements.
</p>

      </div>

      
    </div>
  </div>



{% endblock %}
