{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"> About A levels</h1>
        <h2 class="govuk-heading-m"> Subjects you can take</h2>
        <p>There are more than 40 different A level subjects to choose from.</p>
        
        <p>Most people choose 3 subjects to study but you can take more or fewer. You can also study for a BTEC or other qualification at the same time.</p>
        
        <p>To decide which subjects to take at A level, you should consider which subjects:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li> you're good at or you would enjoy</li>
       <li> you might need for a certain job or further study after A levels</li>
        <li>will help you keep your options open if you’re not sure what you want to do in the future</li>
        </ul>

        <h2 class="govuk-heading-m"> Entry requirements for A levels</h2>
       <p> To take an A level, you normally need at least:</p>
       <ul class="govuk-list govuk-list--bullet">
       <li> 5 GCSEs at grades 9 to 4</li>
       <li> grade 6 in the subjects you want to study</li>
       </ul>
       <p>You should check with the school or college where you’d like to study to find out exactly what you’ll need.</p>

        <h2 class="govuk-heading-m">Qualification you’ll earn</h2>
        <p>You’ll get a level 3 qualification from each A level you take. You can see what qualification levels mean on GOV.UK.</p>
        
       <p> A levels are also worth UCAS points which you use to apply to university or another type of higher education.</p>
      </div>

      
    </div>
  </div>



{% endblock %}
