{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"> About T levels</h1>
        <h2 class="govuk-heading-m">Subjects you can take</h2>

<p class="govuk-body">
  There are many different T Level subjects available now. More subjects are coming in the next few years.
</p>

<p class="govuk-body">You can choose from subjects in the following areas:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>agriculture, environment and animal care</li>
  <li>business and administration</li>
  <li>construction, engineering and manufacturing</li>
  <li>digital, creative and design</li>
  <li>education and early years</li>
  <li>health and science</li>
  <li>legal, finance and accounting</li>
</ul>

<h2 class="govuk-heading-m">Entry requirements for T Levels</h2>

<p class="govuk-body">
  To start a T Level, you’ll need to be 16 to 19 years old and live in England.
</p>

<p class="govuk-body">
  Schools and colleges set their own entry requirements, so you need to check their websites to find out what GCSE grades you need.
</p>

<h2 class="govuk-heading-m">Qualification you’ll earn</h2>

<p class="govuk-body">
  You’ll get a level 3 qualification from your T Level. 
  <a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels">
    Find out what qualification levels mean on GOV.UK
  </a>.
</p>

<p class="govuk-body">
  A T Level is also worth UCAS points which you use to apply to university or another type of higher education.
</p>

      
    </div>
  </div>



{% endblock %}
