{% extends "./layouts/_QUESTION.html" %}
{% set back = true %}

{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <form action="check-answers" method="post" novalidate>
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          About you
        </h1>
    
        <p>This is optional but telling us means you will see more relevant results.  </p>

        <p>Not all education and training courses are available to everyone.  </p>
          
        <p>This is often linked to age. As well as what qualifications you already have or your employment status.  </p>

        <p><a href="https://www.skillsforcareers.education.gov.uk/your-training-options">Discover the different training options</a> </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="age-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                How old are you? (optional)
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="age-16-17" name="age" type="radio" value="16-17">
                <label class="govuk-label govuk-radios__label" for="age-16-17">
                  16 or 17
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="age-18" name="age" type="radio" value="18">
                <label class="govuk-label govuk-radios__label" for="age-18">
                  18
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="age-19" name="age" type="radio" value="19">
                <label class="govuk-label govuk-radios__label" for="age-19">
                  19
                </label>
              </div>
        
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="age-18-24" name="age" type="radio" value="20-24">
                <label class="govuk-label govuk-radios__label" for="age-18-24">
                  20-24
                </label>
              </div>
        
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="age-over-25" name="age" type="radio" value="over-25">
                <label class="govuk-label govuk-radios__label" for="age-over-25">
                  25 or older
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-button-group">

        {{ govukButton({
          text: "Continue"
        }) }}

        </div>
      </div>
    </form>

      
    </div>
  </div>



{% endblock %}
