{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How we use AI</h1>

        <p>This search uses AI to make it easier for you to find options that match your interests.</p>
        <p>Using AI allows us to show you things related to your search terms and not rely on matching words exactly. For example if you search for "coding" it will also show you courses about "software development" or "programming" because they are similar.</p>
        <p>You can also search for more general career aims like "working with children" and still get relevant results.</p>
        <p>This means you don't need to know a specific subject or course name, and it can even handle a misspelling.</p>
        <p>The AI isn’t creating any of the information that you see in the results. It is also not deciding or suggesting what’s best for you. It’s just making sure you see more options that are relevant to what you're searching for.</p>
      
    </div>
  </div>



{% endblock %}
