{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Different training options</h1>

        <h2 class="govuk-heading-m">A Levels</h2>

        <p>A levels are subject-based qualifications usually assessed by exams. You usually choose 3 subjects to study but you can take more or fewer.</p>

        <p><a href="about-a-levels">Find out more about A Levels</a></p>

        <h2 class="govuk-heading-m">Apprenticeships</h2>

        <p>Apprenticeships are real jobs that allow you to earn a wage while you learn. You'll work alongside experienced staff to learn on the job.</p>

        <p><a href="about-apprenticeships">Find out more about Apprenticeships</a></p>

        <h2 class="govuk-heading-m">BTECs</h2>

        <p>BTECs are vocational qualifications that focus on practical, hands-on learning. They can prepare you for work, an apprenticeship or further study, including university.</p>

        <p><a href="about-btecs">Find out more about BTECs</a></p>

        <h2 class="govuk-heading-m">Degrees</h2>

        <p>A degree is a higher education qualification that usually takes 3 or more years to complete if you study full time.</p>

        <p><a href="about-degrees">Find out more about Degrees</a></p>

        <h2 class="govuk-heading-m">Diplomas</h2>

        <p>Diplomas are work-related qualifications that help you gain knowledge and skills for a specific job, industry or subject. You can take a diploma at different levels, depending on your experience and career goals.

        </p>

        <p><a href="about-diplomas">Find out more about Diplomas</a></p>

        <h2 class="govuk-heading-m">T Levels</h2>
        
        <p>A T Level gives you a mix of learning in the classroom and on the job. Businesses and employers helped design T Levels to teach you the skills you'll need.</p>

        <p><a href="about-t-levels.html">Find out more about T Levels</a></p>
        
    </div>
  </div>



{% endblock %}
