{% extends "./layouts/_COURSE.html" %}

{% set back = "true" %}
{% set pageHeading = course.name %}
{% set withoutDescription = "true" %}

{% block content %}


<div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">  


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        
          <h2 class="govuk-summary-card__title">
            About the course
          </h2>
        
        
        </div>
      
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course type
              </dt>
              <dd class="govuk-summary-list__value">
                Diploma
              </dd>
              
            </div>
            
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Level
              </dt>
              <dd class="govuk-summary-list__value">
                3
              </dd>
              
            </div>
            
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Entry requirements	
              </dt>
              <dd class="govuk-summary-list__value">
                GCSEs in relevant subjects
              </dd>
              
            </div>
            
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £0.00
              </dd>
              
            </div>
            
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course overview
              </dt>
              <dd class="govuk-summary-list__value">No course overview added</dd>
              
            </div>
            
          
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        
          <h2 class="govuk-summary-card__title">
            Location
          </h2>
        
        
        </div>
      
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider
              </dt>
              <dd class="govuk-summary-list__value">
                Salford College
              </dd>
              
              <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">View website<span class="govuk-visually-hidden" style=""> name (Location)</span></a>
                
              </dd>
              
            </div>
            
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider location
              </dt>
              <dd class="govuk-summary-list__value">
                Manchester
              </dd>
              
              <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">View on a map<span class="govuk-visually-hidden" style=""> name (Location)</span></a>
                
              </dd>
              
            </div>
            
          
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
        
          <h2 class="govuk-summary-card__title">
            Course details
          </h2>
        
        
        </div>
      
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Delivery method
              </dt>
              <dd class="govuk-summary-list__value">No delivery method added</dd>
              
            </div>
            
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
                2 July 2026
              </dd>
              
            </div>
            
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Duration
              </dt>
              <dd class="govuk-summary-list__value">
                24 months
              </dd>
              
            </div>
            
          
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Hours
              </dt>
              <dd class="govuk-summary-list__value">
                Part time
              </dd>
              
            </div>
            
          
          </dl>
        </div>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
        Go to course
      </button>


</div>

<div class="govuk-grid-column-one-third">  

  <div class="x-govuk-related-navigation">
    <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">
      
      <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Explore Salford College</h2>
      <ul class="x-govuk-related-navigation__link-list">
        
        <li class="x-govuk-related-navigation__link">
          <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="">View all courses at Salford College (opens in a new tab)</a>
        </li>
        
      </ul>
      <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-explore-the-topic">
        <h3 class="x-govuk-related-navigation__sub-heading" id="related-navigation-explore-the-topic">Related links</h3>
        <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Explore jobs and careers you could do after this course</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            
              <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-diplomas">More information about Diplomas</a>
            
          </li>
        </ul>
      </nav>
    </nav>
  </div>


</div>

      




{% endblock %}