{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="age" method="post" novalidate>
  <div class="govuk-form-group">
    <h1 class="govuk-heading-l">
      What qualification level are you looking for?
    </h1>

    <p>Most qualifications have a difficulty level. The higher the level, the more difficult. Some qualifications like Apprenticeships or vocational qualifications can be studied at different levels.</p>
    
    <p><a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank">What qualification levels mean (opens in new tab)</a></p>


    {{ govukCheckboxes({
      idPrefix: "levels",
      name: "levels",
      fieldset: {
        legend: {
          text: "Qualification level",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "none",
          text: "Learn skills and experience without gaining a qualification"
        },
        {
          value: "level-1-2",
          text: "Level 1 or 2 (like GCSEs)"
        },
        {
          value: "level-3",
          text: "Level 3 (like BTECs and A levels)"
        },
        {
          value: "level-4-7",
          text: "Level 4 to 7 (like diplomas and degrees)"
        }
      ]
    }) }}
    
  </div>
  
    
    <div class="govuk-button-group">

      {{ govukButton({
        text: "Continue"
      }) }}

      </div>

  </div>
</div>
</form>

{% endblock %}
