{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
          <p class="govuk-body">Try again later.</p>
          <p class="govuk-body">We saved your answers. They will be available for 30 days.</p>
        </div>
      
    </div>
  </div>



{% endblock %}
