{% extends "./layouts/_HOME.html" %}
{% set back = true %}


{% block content %}


  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">About degrees</h1>

<p class="govuk-body">
  A degree is a higher education qualification that usually takes 3 or more years to complete if you study full time.
</p>

<h2 class="govuk-heading-m">Types of degrees</h2>

<p class="govuk-body">
  There are different types of degrees you can take, including:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Bachelor's degree – the most common type, such as a BA, BSc or BEng</li>
  <li>Integrated master's degree – combines a bachelor's and master's in one course</li>
  <li>Foundation degree – a 2-year course that can lead to a full degree</li>
  <li>Top-up degree – lets you turn a foundation degree into a full bachelor's degree</li>
</ul>

<h2 class="govuk-heading-m">Subjects you can study</h2>

<p class="govuk-body">
  You can study a wide range of subjects at degree level. These include:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>arts and humanities – such as English, history or philosophy</li>
  <li>sciences – such as biology, chemistry or physics</li>
  <li>social sciences – such as psychology, sociology or economics</li>
  <li>professional subjects – such as law, medicine or teaching</li>
  <li>technical subjects – such as engineering, computing or architecture</li>
</ul>

<h2 class="govuk-heading-m">Entry requirements</h2>

<p class="govuk-body">
  Each university sets its own entry requirements. You’ll usually need A levels, T Levels, or equivalent level 3 qualifications.
</p>

<p class="govuk-body">
  Some courses ask for specific subjects or grades. You should check the university’s website for full details.
</p>

<h2 class="govuk-heading-m">What you'll get</h2>

<p class="govuk-body">
  You’ll get a level 6 qualification when you complete a bachelor's degree. 
  <a class="govuk-link" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" target="_blank" rel="noopener noreferrer">
    Find out what qualification levels mean
  </a>.
</p>

<h2 class="govuk-heading-m">How long it takes</h2>

<p class="govuk-body">
  A full-time degree usually takes 3 years to complete. Some degrees, such as medicine or architecture, can take longer.
</p>

<p class="govuk-body">
  You can also study part time, which takes longer but may suit your circumstances better.
</p>

<h2 class="govuk-heading-m">Costs and financial support</h2>

<p class="govuk-body">
  Universities charge tuition fees for degree courses. You can apply for student finance to cover the cost.
</p>

<p class="govuk-body">
  You may also be able to get extra support through grants, bursaries or scholarships, depending on your personal situation or the subject you’re studying.
</p>

      </div>

      
    </div>
  </div>



{% endblock %}
