{% extends "./layouts/_COURSE.html" %}

{% set back = "true" %}
{% set pageHeading = course.name %}
{% set withoutDescription = "true" %}

{% block content %}


<div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">  


{% if course.type == "Degree" %}

{{ govukSummaryList({
  card: {
    title: {
      text: "About the course"
    }
  },
  rows: [
    {
      key: {
        text: "Qualification type"
      },
      value: {
        text: course.type
      }
    },
    {
      key: {
        text: "Level"
      },
      value: {
        text: course.level
      }
    },
    {
      key: {
        text: "Entry requirements"
      },
      value: {
        text: course.requirements
      }
    },
    {
      key: {
        text: "Tuition fee"
      },
      value: {
        text: course.cost | currency
      }
    },
    {
      key: {
        text: "Awarding organisation"
      },
      value: {
        text: course.awardingOrganisation
      }
    },
    {
      key: {
        text: "Course description"
      },
      value: {
        text: course.overview
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Location"
    }
  },
  rows: [
    {
      key: {
        text: "University"
      },
      value: {
        text: course.provider
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View website",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Campus name"
      },
      value: {
        text: course.campusName
      }
    },
    {
      key: {
        text: "Campus address"
      },
      value: {
        text: course.campusAddress
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View on a map",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Course details"
    }
  },
  rows: [
  {
    key: {
      text: "Delivery method"
    },
    value: {
      text: course.deliveryMethod
    }
  },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: course.startDate | govukDate
      }
    },
    {
      key: {
        text: "Duration"
      },
      value: {
        text: course.duration
      }
    },
    {
      key: {
        text: "Hours"
      },
      value: {
        text: course.time
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Go to course"
}) }}

<p>The information we show you about a course comes from the provider. If you want to know more about a course visit their website. You can also email or call them if you have any questions or want to discuss your options.</p>


{% elseif course.type == "Apprenticeship" %}

{{ govukSummaryList({
  card: {
    title: {
      text: "About the course"
    }
  },
  rows: [
    {
      key: {
        text: "Qualification type"
      },
      value: {
        text: course.type
      }
    },
    {
      key: {
        text: "Level"
      },
      value: {
        text: course.level
      }
    },
    {
      key: {
        text: "Entry requirements"
      },
      value: {
        text: course.requirements
      }
    },
    {
      key: {
        text: "Wage"
      },
      value: {
        text: course.wage | currency
      }
    },
    {
      key: {
        text: "Position available"
      },
      value: {
        text: course.positionAvailable
      }
    },
    {
      key: {
        text: "Course description"
      },
      value: {
        text: course.overview
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Location"
    }
  },
  rows: [
    {
      key: {
        text: "Employer"
      },
      value: {
        text: course.employer
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View website",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Employer address"
      },
      value: {
        text: course.employerAddress
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View on a map",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "About this employer"
      },
      value: {
        text: course.aboutEmployer
      }
    },
    {
      key: {
        text: "Training provider"
      },
      value: {
        text: course.trainingProvider
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Course details"
    }
  },
  rows: [
  {
    key: {
      text: "Delivery method"
    },
    value: {
      text: course.deliveryMethod
    }
  },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: course.startDate | govukDate
      }
    },
    {
      key: {
        text: "Duration"
      },
      value: {
        text: course.duration
      }
    },
    {
      key: {
        text: "Hours"
      },
      value: {
        text: course.time
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Go to Apprenticeship opportunity"
}) }}

<p>The information we show you about a course comes from the provider. If you want to know more about a course visit their website. You can also email or call them if you have any questions or want to discuss your options.</p>

{% else %}

{{ govukSummaryList({
  card: {
    title: {
      text: "About the course"
    }
  },
  rows: [
    {
      key: {
        text: "Course type"
      },
      value: {
        text: course.type
      }
    },
    {
      key: {
        text: "Level"
      },
      value: {
        text: course.level
      }
    },
    {
      key: {
        text: "Entry requirements	"
      },
      value: {
        text: course.requirements
      }
    },
    {
      key: {
        text: "Cost"
      },
      value: {
        text: course.cost | currency
      }
    },
    {
      key: {
        text: "Course overview"
      },
      value: {
        text: course.overview
      }
    }

  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Location"
    }
  },
  rows: [
    {
      key: {
        text: "Provider"
      },
      value: {
        text: course.provider
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View website",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Provider location"
      },
      value: {
        text: course.location
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View on a map",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Course details"
    }
  },
  rows: [
  {
    key: {
      text: "Delivery method"
    },
    value: {
      text: course.deliveryMethod
    }
  },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: course.startDate | govukDate
      }
    },
    {
      key: {
        text: "Duration"
      },
      value: {
        text: course.duration
      }
    },
    {
      key: {
        text: "Hours"
      },
      value: {
        text: course.time
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Go to course"
}) }}

<p>The information we show you about a course comes from the provider. If you want to know more about a course visit their website. You can also email or call them if you have any questions or want to discuss your options.</p>

{% endif %}



</div>

<div class="govuk-grid-column-one-third">  

  <div class="x-govuk-related-navigation">
    <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">

      <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Related links</h2>
      <ul class="x-govuk-related-navigation__link-list">
        <li class="x-govuk-related-navigation__link">
          <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Explore jobs and careers you could do after this course</a>
        </li>
        <li class="x-govuk-related-navigation__link">
          {% if course.type == "Degree" %}
            <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-degrees">More information about Degrees</a>
          {% elif course.type == "BTEC" %}
            <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-btecs">More information about BTECs</a>
          {% elif course.type == "Apprenticeship" %}
            <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-apprenticeships">More information about Apprenticeships</a>
          {% elif course.type == "A Level" %}
            <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-a-levels">More information about A Levels</a>
          {% elif course.type == "T Level" %}
            <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-t-levels">More information about T Levels</a>
          {% elif course.type == "Diploma" %}
            <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-diplomas">More information about Diplomas</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>


</div>

      




{% endblock %}