{% extends "./layouts/_COURSE.html" %}

{% set back = "true" %}
{% set pageHeading = course.name %}
{% set withoutDescription = "true" %}

{% block content %}


<div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">  




{{ govukSummaryList({
  card: {
    title: {
      text: "About the course"
    }
  },
  rows: [
    {
      key: {
        text: "Qualification type"
      },
      value: {
        text: course.type
      }
    },
    {
      key: {
        text: "Level"
      },
      value: {
        text: course.level
      }
    },
    {
      key: {
        text: "Entry requirements"
      },
      value: {
        text: course.requirements
      }
    },
    {
      key: {
        text: "Tuition fee"
      },
      value: {
        text: course.cost | currency
      }
    },
    {
      key: {
        text: "Awarding organisation"
      },
      value: {
        text: course.cost
      }
    },
    {
      key: {
        text: "Course description"
      },
      value: {
        text: course.overview
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Location"
    }
  },
  rows: [
    {
      key: {
        text: "University"
      },
      value: {
        text: course.provider
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View website",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Campus name"
      },
      value: {
        text: course.location
      }
    },
    {
      key: {
        text: "Campus address"
      },
      value: {
        text: course.location
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View on a map",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "Course details"
    }
  },
  rows: [
  {
    key: {
      text: "Delivery method"
    },
    value: {
      text: course.delivery
    }
  },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: course.start | govukDate
      }
    },
    {
      key: {
        text: "Duration"
      },
      value: {
        text: course.duration
      }
    },
    {
      key: {
        text: "Hours"
      },
      value: {
        text: course.time
      }
    }
  ]
}) }}


</div>

<div class="govuk-grid-column-one-third">  

  <div class="x-govuk-related-navigation">
    <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">
      <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Explore {{ course.provider }}</h2>
      <ul class="x-govuk-related-navigation__link-list">
        <li class="x-govuk-related-navigation__link">
          <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="">View all courses at {{ course.provider }} (opens in a new tab)</a>
        </li>
      </ul>
      <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-explore-the-topic">
        <h3 class="x-govuk-related-navigation__sub-heading" id="related-navigation-explore-the-topic">Related links</h3>
        <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Explore jobs and careers you could do after this course</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            {% if course.type == "Degree" %}
              <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-degrees">More information about Degrees</a>
            {% elif course.type == "BTEC" %}
              <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-btecs">More information about BTECs</a>
            {% elif course.type == "Apprenticeship" %}
              <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-apprenticeships">More information about Apprenticeships</a>
            {% elif course.type == "A Level" %}
              <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-a-levels">More information about A Levels</a>
            {% elif course.type == "T Level" %}
              <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-t-levels">More information about T Levels</a>
            {% elif course.type == "Diploma" %}
              <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-diplomas">More information about Diplomas</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </nav>
  </div>


</div>

      




{% endblock %}