{% extends "./layouts/_COURSE.html" %}

{% set back = "true" %}
{% set pageHeading = "Media A Level" %}
{% set withoutDescription = "true" %}

{% block content %}


<div class="govuk-grid-row"> 
  <div class="govuk-grid-column-two-thirds">  

<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">

  <h2 class="govuk-summary-card__title">
    About the course
  </h2>


</div>

<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Course type
      </dt>
      <dd class="govuk-summary-list__value">
        A Level
      </dd>
      
    </div>
    
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Level
      </dt>
      <dd class="govuk-summary-list__value">
        3
      </dd>
      
    </div>
    
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Entry requirements	
      </dt>
      <dd class="govuk-summary-list__value">
        Completion of a Level 2 qualification in a related subject
      </dd>
      
    </div>
    
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Cost
      </dt>
      <dd class="govuk-summary-list__value">
        £1,529.00
      </dd>
      
    </div>
    
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Course overview
      </dt>
      <dd class="govuk-summary-list__value">
        Develop skills through collaborative tasks, assessments, and real-world scenarios.
      </dd>
      
    </div>
    
  
  </dl>
</div>
</div>








<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">

  <h2 class="govuk-summary-card__title">
    Location
  </h2>


</div>

<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Provider
      </dt>
      <dd class="govuk-summary-list__value">
        Manchester College
      </dd>
      
      <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">View website<span class="govuk-visually-hidden"> name (Location)</span></a>
        
      </dd>
      
    </div>
    
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Provider location
      </dt>
      <dd class="govuk-summary-list__value">
        21 High Street, Manchester, M1 2AT
      </dd>
      
      <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">View on a map<span class="govuk-visually-hidden"> name (Location)</span></a>
        
      </dd>
      
    </div>
  
  </dl>

  <details class="govuk-details govuk-!-margin-top-2 govuk-!-margin-bottom-0">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        2 other locations available
      </span>
    </summary>
    <div class="govuk-details__text">
      <p>Another Location Building, Liverpool, L2 9BA - <a href="">view on a map</a>.</p>
      <p>Learning Building, Bolton, BL1 1BB - <a href="">view on a map</a>.</p>
    </div>
  </details>
</div>
</div>












<div class="govuk-summary-card">
<div class="govuk-summary-card__title-wrapper">

  <h2 class="govuk-summary-card__title">
    Course details
  </h2>


</div>

<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Delivery method
      </dt>
      <dd class="govuk-summary-list__value">
        Hybrid
      </dd>
      
    </div>
    
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Start dates
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list">
       <li> 21 May 2026</li>
       <li> 23 July 2026</li>
       <li> 19 September 2026</li>
        </ul>
      </dd>
      
    </div>
    
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Duration
      </dt>
      <dd class="govuk-summary-list__value">
        24 months
      </dd>
      
    </div>
    
  
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Hours
      </dt>
      <dd class="govuk-summary-list__value">
        Full time
      </dd>
      
    </div>
    
  
  </dl>
</div>
</div>





  


<button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
Go to course
</button>


<p>The details we show you comes from the provider. There may be extra information on their website. You can also email or call them if you have any questions or want to discuss your options.  </p>





</div>

<div class="govuk-grid-column-one-third">  

<div class="x-govuk-related-navigation">
  <nav class="x-govuk-related-navigation__nav-section" aria-labelledby="related-navigation-related-content">

    <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">Related links</h2>
    <ul class="x-govuk-related-navigation__link-list">
      <li class="x-govuk-related-navigation__link">
        <a class="govuk-link x-govuk-related-navigation__section-link" href="/browse/education/school-life">Explore jobs and careers you could do after this course</a>
      </li>
      <li class="x-govuk-related-navigation__link">
        
          <a class="govuk-link x-govuk-related-navigation__section-link" href="../about-a-levels">More information about A Levels</a>
        
      </li>
    </ul>
  </nav>
</div>


</div>

    





      </div>





</div>

      




{% endblock %}