{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}

    <form action="level" method="post" novalidate>

      <h1 class="govuk-heading-l">What courses, subjects, jobs or careers are you interested in?</h1>

      <p>Be as specific or broad as you like. You can try searching for academic subjects, practical skills, or just start from an idea of what you'd like to do.</p>

      <p>For example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>maths</li>
          <li>bricklaying</li>
          <li>working with animals</li>
        </ul>

        <p>If you skip this question, the search results will be everything in your chosen location.</p>

        {{ govukInput({
          label: {
            text: "Interest 1 (optional)",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "interest-1",
          name: "interest-1"
        }) }}

        {{ govukInput({
          label: {
            text: "Interest 2 (optional)",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "interest-2",
          name: "interest-2"
        }) }}

        {{ govukInput({
          label: {
            text: "Interest 3 (optional)",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "interest-3",
          name: "interest-3"
        }) }}


    

    {{ govukButton({
      text: "Continue"
    }) }}


  </div>
</div>
</form>

{% endblock %}
