{% extends "./layouts/_QUESTION.html" %}

{% set back = "true" %}
{% set pageHeading = "Where would you like to study?" %}
{% set withoutDescription = "true" %}


{% block service %}
<form action="location" method="post" novalidate>

  <h1 class="govuk-heading-l">
    Where do you want to study?
  </h1>

  <p>You can search anywhere in England.</p>

  <p>Some courses are only available to people living in the local area. This can apply even if it is online training. It is more common for short courses or those aiming to help you find employment.  Check with the provider if you are unsure. </p>

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="country">
        Enter a town, city or postcode (optional)
      </label>
    </h1>
    <select class="govuk-select" id="location" name="location"
      data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
      <option value="" disabled {% if not data['location'] %}selected{% endif %}>
        Select an option
      </option>
      
      <option value="Abingdon" {% if data['location'] == 'Abingdon' %}selected{% endif %}>Abingdon</option>
      <option value="Alnwick" {% if data['location'] == 'Alnwick' %}selected{% endif %}>Alnwick</option>
      <option value="Barnsley" {% if data['location'] == 'Barnsley' %}selected{% endif %}>Barnsley</option>
      <option value="Basingstoke" {% if data['location'] == 'Basingstoke' %}selected{% endif %}>Basingstoke</option>
      <option value="Bath" {% if data['location'] == 'Bath' %}selected{% endif %}>Bath</option>
      <option value="Bedford" {% if data['location'] == 'Bedford' %}selected{% endif %}>Bedford</option>
      <option value="Birmingham" {% if data['location'] == 'Birmingham' %}selected{% endif %}>Birmingham</option>
      <option value="Blackburn" {% if data['location'] == 'Blackburn' %}selected{% endif %}>Blackburn</option>
      <option value="Blackpool" {% if data['location'] == 'Blackpool' %}selected{% endif %}>Blackpool</option>
      <option value="Bolton" {% if data['location'] == 'Bolton' %}selected{% endif %}>Bolton</option>
      <option value="Bournemouth" {% if data['location'] == 'Bournemouth' %}selected{% endif %}>Bournemouth</option>
      <option value="Bradford" {% if data['location'] == 'Bradford' %}selected{% endif %}>Bradford</option>
      <option value="Brighton" {% if data['location'] == 'Brighton' %}selected{% endif %}>Brighton</option>
      <option value="Bristol" {% if data['location'] == 'Bristol' %}selected{% endif %}>Bristol</option>
      <option value="Burnley" {% if data['location'] == 'Burnley' %}selected{% endif %}>Burnley</option>
      <option value="Cambridge" {% if data['location'] == 'Cambridge' %}selected{% endif %}>Cambridge</option>
      <option value="Canterbury" {% if data['location'] == 'Canterbury' %}selected{% endif %}>Canterbury</option>
      <option value="Cardiff" {% if data['location'] == 'Cardiff' %}selected{% endif %}>Cardiff</option>
      <option value="Carlisle" {% if data['location'] == 'Carlisle' %}selected{% endif %}>Carlisle</option>
      <option value="Chelmsford" {% if data['location'] == 'Chelmsford' %}selected{% endif %}>Chelmsford</option>
      <option value="Cheltenham" {% if data['location'] == 'Cheltenham' %}selected{% endif %}>Cheltenham</option>
      <option value="Chester" {% if data['location'] == 'Chester' %}selected{% endif %}>Chester</option>
      <option value="Colchester" {% if data['location'] == 'Colchester' %}selected{% endif %}>Colchester</option>
      <option value="Coventry" {% if data['location'] == 'Coventry' %}selected{% endif %}>Coventry</option>
      <option value="Crawley" {% if data['location'] == 'Crawley' %}selected{% endif %}>Crawley</option>
      <option value="Darlington" {% if data['location'] == 'Darlington' %}selected{% endif %}>Darlington</option>
      <option value="Derby" {% if data['location'] == 'Derby' %}selected{% endif %}>Derby</option>
      <option value="Doncaster" {% if data['location'] == 'Doncaster' %}selected{% endif %}>Doncaster</option>
      <option value="Dundee" {% if data['location'] == 'Dundee' %}selected{% endif %}>Dundee</option>
      <option value="Durham" {% if data['location'] == 'Durham' %}selected{% endif %}>Durham</option>
      <option value="Edinburgh" {% if data['location'] == 'Edinburgh' %}selected{% endif %}>Edinburgh</option>
      <option value="Exeter" {% if data['location'] == 'Exeter' %}selected{% endif %}>Exeter</option>
      <option value="Gateshead" {% if data['location'] == 'Gateshead' %}selected{% endif %}>Gateshead</option>
      <option value="Glasgow" {% if data['location'] == 'Glasgow' %}selected{% endif %}>Glasgow</option>
      <option value="Gloucester" {% if data['location'] == 'Gloucester' %}selected{% endif %}>Gloucester</option>
      <option value="Guildford" {% if data['location'] == 'Guildford' %}selected{% endif %}>Guildford</option>
      <option value="Halifax" {% if data['location'] == 'Halifax' %}selected{% endif %}>Halifax</option>
      <option value="Harrogate" {% if data['location'] == 'Harrogate' %}selected{% endif %}>Harrogate</option>
      <option value="Hartlepool" {% if data['location'] == 'Hartlepool' %}selected{% endif %}>Hartlepool</option>
      <option value="Hastings" {% if data['location'] == 'Hastings' %}selected{% endif %}>Hastings</option>
      <option value="Huddersfield" {% if data['location'] == 'Huddersfield' %}selected{% endif %}>Huddersfield</option>
      <option value="Hull" {% if data['location'] == 'Hull' %}selected{% endif %}>Hull</option>
      <option value="Inverness" {% if data['location'] == 'Inverness' %}selected{% endif %}>Inverness</option>
      <option value="Ipswich" {% if data['location'] == 'Ipswich' %}selected{% endif %}>Ipswich</option>
      <option value="Keighley" {% if data['location'] == 'Keighley' %}selected{% endif %}>Keighley</option>
      <option value="Kendal" {% if data['location'] == 'Kendal' %}selected{% endif %}>Kendal</option>
      <option value="Lancaster" {% if data['location'] == 'Lancaster' %}selected{% endif %}>Lancaster</option>
      <option value="Leeds" {% if data['location'] == 'Leeds' %}selected{% endif %}>Leeds</option>
      <option value="Leicester" {% if data['location'] == 'Leicester' %}selected{% endif %}>Leicester</option>
      <option value="Lincoln" {% if data['location'] == 'Lincoln' %}selected{% endif %}>Lincoln</option>
      <option value="Liverpool" {% if data['location'] == 'Liverpool' %}selected{% endif %}>Liverpool</option>
      <option value="London" {% if data['location'] == 'London' %}selected{% endif %}>London</option>
      <option value="Luton" {% if data['location'] == 'Luton' %}selected{% endif %}>Luton</option>
      <option value="Manchester" {% if data['location'] == 'Manchester' %}selected{% endif %}>Manchester</option>
      <option value="Mansfield" {% if data['location'] == 'Mansfield' %}selected{% endif %}>Mansfield</option>
      <option value="Middlesbrough" {% if data['location'] == 'Middlesbrough' %}selected{% endif %}>Middlesbrough</option>
      <option value="Milton Keynes" {% if data['location'] == 'Milton Keynes' %}selected{% endif %}>Milton Keynes</option>
      <option value="Newcastle" {% if data['location'] == 'Newcastle' %}selected{% endif %}>Newcastle</option>
      <option value="Newport" {% if data['location'] == 'Newport' %}selected{% endif %}>Newport</option>
      <option value="Northampton" {% if data['location'] == 'Northampton' %}selected{% endif %}>Northampton</option>
      <option value="Norwich" {% if data['location'] == 'Norwich' %}selected{% endif %}>Norwich</option>
      <option value="Nottingham" {% if data['location'] == 'Nottingham' %}selected{% endif %}>Nottingham</option>
      <option value="Oldham" {% if data['location'] == 'Oldham' %}selected{% endif %}>Oldham</option>
      <option value="Oxford" {% if data['location'] == 'Oxford' %}selected{% endif %}>Oxford</option>
      <option value="Penzance" {% if data['location'] == 'Penzance' %}selected{% endif %}>Penzance</option>
      <option value="Peterborough" {% if data['location'] == 'Peterborough' %}selected{% endif %}>Peterborough</option>
      <option value="Plymouth" {% if data['location'] == 'Plymouth' %}selected{% endif %}>Plymouth</option>
      <option value="Portsmouth" {% if data['location'] == 'Portsmouth' %}selected{% endif %}>Portsmouth</option>
      <option value="Preston" {% if data['location'] == 'Preston' %}selected{% endif %}>Preston</option>
      <option value="Reading" {% if data['location'] == 'Reading' %}selected{% endif %}>Reading</option>
      <option value="Rotherham" {% if data['location'] == 'Rotherham' %}selected{% endif %}>Rotherham</option>
      <option value="Sheffield" {% if data['location'] == 'Sheffield' %}selected{% endif %}>Sheffield</option>
      <option value="Southampton" {% if data['location'] == 'Southampton' %}selected{% endif %}>Southampton</option>
      <option value="Southend" {% if data['location'] == 'Southend' %}selected{% endif %}>Southend</option>
      <option value="St Albans" {% if data['location'] == 'St Albans' %}selected{% endif %}>St Albans</option>
      <option value="St Helens" {% if data['location'] == 'St Helens' %}selected{% endif %}>St Helens</option>
      <option value="Stoke-on-Trent" {% if data['location'] == 'Stoke-on-Trent' %}selected{% endif %}>Stoke-on-Trent</option>
      <option value="Sunderland" {% if data['location'] == 'Sunderland' %}selected{% endif %}>Sunderland</option>
      <option value="Swansea" {% if data['location'] == 'Swansea' %}selected{% endif %}>Swansea</option>
      <option value="Swindon" {% if data['location'] == 'Swindon' %}selected{% endif %}>Swindon</option>
      <option value="Telford" {% if data['location'] == 'Telford' %}selected{% endif %}>Telford</option>
      <option value="Truro" {% if data['location'] == 'Truro' %}selected{% endif %}>Truro</option>
      <option value="Wakefield" {% if data['location'] == 'Wakefield' %}selected{% endif %}>Wakefield</option>
      <option value="Warrington" {% if data['location'] == 'Warrington' %}selected{% endif %}>Warrington</option>
      <option value="Watford" {% if data['location'] == 'Watford' %}selected{% endif %}>Watford</option>
      <option value="Wolverhampton" {% if data['location'] == 'Wolverhampton' %}selected{% endif %}>Wolverhampton</option>
      <option value="Worcester" {% if data['location'] == 'Worcester' %}selected{% endif %}>Worcester</option>
      <option value="York" {% if data['location'] == 'York' %}selected{% endif %}>York</option>
         

    </select>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          How far are you able to travel? (optional)
        </h1>
      </legend>
  
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input"
                 id="travel-location-2"
                 name="travel-location"
                 type="radio"
                 value="2 miles"
                 {% if data['travel-location'] == '2 miles' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="travel-location-2">
            Up to 2 miles
          </label>
        </div>
  
        <div class="govuk-radios__item">
          <input class="govuk-radios__input"
                 id="travel-location-3"
                 name="travel-location"
                 type="radio"
                 value="5 miles"
                 {% if data['travel-location'] == '5 miles' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="travel-location-3">
            Up to 5 miles
          </label>
        </div>
  
        <div class="govuk-radios__item">
          <input class="govuk-radios__input"
                 id="travel-location-4"
                 name="travel-location"
                 type="radio"
                 value="10 miles"
                 {% if data['travel-location'] == '10 miles' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="travel-location-4">
            Up to 10 miles
          </label>
        </div>
  
        <div class="govuk-radios__item">
          <input class="govuk-radios__input"
                 id="travel-location-5"
                 name="travel-location"
                 type="radio"
                 value="15 miles"
                 {% if data['travel-location'] == '15 miles' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="travel-location-5">
            Up to 15 miles
          </label>
        </div>
  
        <div class="govuk-radios__item">
          <input class="govuk-radios__input"
                 id="travel-location-6"
                 name="travel-location"
                 type="radio"
                 value="30 miles"
                 {% if data['travel-location'] == '30 miles' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="travel-location-6">
            Up to 30 miles
          </label>
        </div>
  
        <div class="govuk-radios__item">
          <input class="govuk-radios__input"
                 id="travel-location-7"
                 name="travel-location"
                 type="radio"
                 value="Over 30 miles"
                 {% if data['travel-location'] == 'Over 30 miles' %}checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="travel-location-7">
            Over 30 miles
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  

  <div class="govuk-button-group">

    {{ govukButton({
      text: "Continue"
    }) }}

    </div>


    </div>
  </form>

  </div>
</div>

{% endblock %}
